<table border="1">
        <tr>
            <td colspan="2">Ma Danh Muc</td>
            <td colspan="2">Ten Danh Muc</td>
        </tr>
    <ng-container *ngFor="let cate of categories">
        <tr>
            <td colspan="2">{{ cate.Cateid }}</td>
            <td colspan="2">{{ cate.CateName }}</td>
        </tr>
        <tr>
            <td>Ma San Pham</td>
            <td>Ten San Pham</td>
            <td>Gia San Pham</td>
            <td>Picture</td>
        </tr>
        <tr *ngFor="let p of cate.Products">
            <td>{{ p.ProductId }}</td>
            <td>{{ p.ProductName }}</td>
            <td>{{ p.Price }}</td>
            <td>
                <img [src]="p.Image" width="100">
            </td>
        </tr>
    </ng-container>
</table>